<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3"
    android:versionName = "1.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".preference.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_gongtong"
        android:label="공평한 소통"
        android:roundIcon="@mipmap/ic_gongtong_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GongTong"
        >
        <activity
            android:name=".settings.VoiceSettingActivity"
            android:exported="false"
            android:theme="@style/Theme.GongTong.NoActionBar"
            android:configChanges = "keyboardHidden|orientation|screenSize|layoutDirection"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:configChanges = "keyboardHidden|orientation|screenSize|layoutDirection"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GongTong.NoActionBar"
            android:configChanges = "keyboardHidden|orientation|screenSize|layoutDirection"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <supports-screens
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:xlargeScreens="true"
    android:anyDensity="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>